<footer>
  <div class="col">
    <a href="https://www.unidadepopular.org.br/programa" target="_blank">Unidade Popular - Programa</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdb8aKfkCU9ctgOrdihfoWJr0wbZZefiBF0g1zN0Vozq4YqYA/viewform" target="_blank">Formulário de Filiação</a>
    <a href="https://www.instagram.com/upinternacional/" target="_blank">UP Internacional</a>
  </div>
  <div class="col">
    <a href="https://averdade.org.br/" target="_blank">A Verdade</a>
    <a href="https://cipoml.net/" target="_blank">CIPOML</a>
  </div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">