<footer>
  <a href="https://www.unidadepopular.org.br/programa" target="_blank"
    >Unidade Popular</a
  >
  <a href="https://averdade.org.br/" target="_blank">A Verdade</a>
  <a href="https://cipoml.net/" target="_blank">CIPOML</a>
</footer>
