---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "/public/styles/global.css"
const { BLOG_TITLE } = process.env;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="UP - Lisboa, membro anonimo" />
    <meta
      name="keywords"
      content="blog, marxism, leninism, Portugal, critical texts, marxismo, trabalho, trabalhadores, proletário, proletariados"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Espaço dedicado para o compartilhamento de textos críticos e pensamentos marxistas-leninistas, voltado para a realidade Portuguesa."
    />
    <title>{BLOG_TITLE}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>

  <Footer />
</html>
